/*-------------------*/
/*     Variables     */
/*-------------------*/

$primary-color: #20c997;
$fm-josefin: 'Josefin Sans', sans-serif;



/*-------------------*/
/*      global       */
/*-------------------*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fm-josefin;
    overflow: hidden;
}


p {
    line-height: 1.7rem;
    font-weight: 300;
    font-size: 1rem;
    color: #eee;
}


